
.signup-container {
    display: flex;
    padding: 1em;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: antiquewhite;
    width: 50%;
    margin: auto;
    border: 10px solid #ccc;
    border-radius: 4%;
}

.signup-box {
    background-color: #f2f2f2;
    padding: 10px;
}

.signup-box input {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-box button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

