h1 {
    font-family: 'Questrial', sans-serif;;
    font-size: 28px;
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #13031a, #320b38);
}

.main-title {
    font-family: 'Questrial', sans-serif;
    font-size: 64px;
    margin-top: 100px;
    margin-bottom: 60px;
    margin-left: 8px;
    margin-right: 8px;
}

.bstyle {
    font-family: 'Questrial', sans-serif;
    transition: ease-in-out 0.1s;
}

.bstyle:hover {
    transform: scale(1.1);
}

.locked-form {
    background-color: #ffffff !important;
    cursor: not-allowed
}